<div class="flex items-center h-screen justify-center">
    <div class="w-screen bg-blue-600">
      <div class="max-w-screen-md text-center mx-auto my-4">
        <h1 class="text-blue-100 text-3xl font-bold">Todo Management</h1>
        <p class="text-blue-300 text-xl">
          Task management for project teams is one of the core functions in project management and involves a typical work
          breakdown structure that divides your project into manageable tasks. Managing such tasks on priority, while
          keeping up with the cost and schedule criteria, and ensuring team collaboration forms the basis of task
          management. </p>
        <button [routerLink]="['/todolist']" mat-flat-button color="warn">Getting started</button>
      </div>
    </div>
  </div>